.header_logo {
    height: 60px;
    display: flex;
    align-items: center;
    font-size: 25px;
  }
  .header_nav {
    align-items: center;
    display: flex;
  }

.header_search {
    display: inline-block;
  margin: 25px;

}
.header {
    display: flex;
    justify-content:space-between;
    position: sticky;
    background-color: #E6E6FA;
    top: 0;
    z-index: 100;
    color: red;
    align-items: center;
}